.otrosEstilos{
    background: rgb(2,0,36) !important;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 33%, rgba(0,189,255,1) 100%)!important;
}

/* .links{
    color: white !important;
    text-shadow: 2px 2px 1px #413f46;
} */

/* #collasible-nav-dropdown{
    color: white;
    text-shadow: 2px 2px 1px #413f46;
}
 */
